.modal{
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  min-width: min(320px, 75vw);
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;

  background: rgba(255, 255, 255, 0.60);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.40);

}

.modal input, textarea {
  padding: 8px 8px;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255,255,255,0.4);

  outline: none;
  transition: border-color 160ms ease, background 160ms ease, transform 160ms ease;
}

.modal input:focus, textarea:focus{
  border: 2px solid;
  border-color: rgb(0, 0, 0, 0.6);
}


.overlay{
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;

  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


.task-form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.field{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  border: none;
}

.field label, legend{
  font-size: clamp(18px, 2vw, 22px);
}

#descricao{

  resize: none;
  overflow: hidden;
  height: 65px;

}

.radio-group{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  
}

.radio{
  display: flex;
  gap: 0.5rem;

}

.radio-item{
  border: none;
}

.btn-submit{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 120px;
  height: 35px;
  align-self: center;
  
  border: #000000;
}