<div class="modal" *ngIf="showForm">

  <form #form="ngForm" (ngSubmit)="onSubmit(form)"  class="task-form">

    <div class="field">

      <label for="name">Nome da tarefa</label>
      <input type="text" name="tarefa" [(ngModel)]="tarefa" maxlength="30" placeholder="Ex.: Estudar Docker." required>

    </div>

    <div class="field">

      <label for="descricao">Descrição</label>
      <textarea name="descricao" [(ngModel)]="descricao" id="descricao" rows="3" maxlength="80" placeholder="Ex.: assistir 1h e fazer anotações"></textarea>

    </div>

    <fieldset class="field">

      <legend> Prioridade</legend>

      <div class="radio-group">

        <label class="radio">
          <input type="radio" name="prioridade" [(ngModel)]="prioridades.prioridade" value="BAIXA">
          <span class="radio-ui"></span>
          <span class="radio-text">Baixa</span>
        </label>

        <label class="radio">
          <input type="radio" name="prioridade" [(ngModel)]="prioridades.prioridade" value="MEDIA">
          <span class="radio-ui"></span>
          <span class="radio-text">Média</span>
        </label>

        <label class="radio">
          <input type="radio" name="prioridade" [(ngModel)]="prioridades.prioridade" value="ALTA">
          <span class="radio-ui"></span>
          <span class="radio-text">Alta</span>
        </label>
      </div>
    </fieldset>


    <button class="btn-submit" [disabled]="form.invalid" type="submit"  > Criar tarefa</button>

  </form>

</div>

<div *ngIf="overlay" (click)="formToggle()" class="overlay" ></div>
