<app-modal id="modal"></app-modal>

<main id="home">

  <section class="container">

    <div class="box-task">

      <button  [ngClass]="{'is-done' : done}" class="check" (click)="isDone()"></button>

      <p>Estudar sobre Docker.</p>

        <img class="icon" ngSrc="./assets/icons/arrow.svg" alt="arrow" height="30" width="30" (click)="toggleDescription()" >

        <div class="description" *ngIf="description">

          <img class="icon" ngSrc="./assets/icons/edit.svg" alt="edit" height="32" width="32">

          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur tincidunt enim eu varius.</p>

          <img class="icon" ngSrc="./assets/icons/delete.svg" alt="delete" height="30" width="30">

        </div>
    </div>
  </section>

    <button type="submit" class="btn">
      <span class="bar"></span>
      <span class="bar"></span>
    </button>


</main>


