<main id="home">

  <section class="container">

    <ng-container *ngIf="tarefas$ | async as tarefas; else loading">

      <div class="box-task" [ngClass]="transPrioridade(t.prioridade)" *ngFor="let t of tarefas">

        <button [ngClass]="{'is-done' : t.realizado}" class="check" (click)="isDone(t)"></button>

        <p>{{t.nome}}</p>

        <img class="icon" ngSrc="./assets/icons/arrow.svg" alt="arrow" height="30" width="30"
          (click)="toggleDescription(t.id)">

        <div class="description" *ngIf="descriptionID === t.id">

          <img class="icon" ngSrc="./assets/icons/edit.svg" alt="edit" height="32" width="32">

          <div class="desc-content">
            <p>{{ t.descricao }}</p>
            <span class="priority"> Prioridade: <strong>{{transPrioridade(t.prioridade)}}</strong></span>
          </div>

          <img class="icon" ngSrc="./assets/icons/delete.svg" alt="delete" height="30" width="30">


        </div>
      </div>

    </ng-container>

  </section>

  <button class="btn" (click)="showModal()">
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <ng-template #loading>

    <p>Carregando....</p>

  </ng-template>

</main>



<app-modal id="modal"></app-modal>
