#home{
  display: flex;
  justify-content: center;
  background-image: url('/assets/Background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  padding-bottom: 3rem;
}

.container{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: 500px;

}

.box-task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 1rem;
  width: 80%;
  background-color: #d9d9d9;
  border-radius: 30px;


  .check{
    height: 32px;
    width: 32px;
    border-radius: 100px;
    border: 1px solid #797878;
    flex: 0 0 auto;
  }
    p{
      font-size: 20px;
      font-weight: 600;
      flex: 1 1 auto;
      min-width: 0;
      margin: 0;
      white-space: normal ;
      overflow: hidden;
      text-overflow: ellipsis;

    }
      img{
        cursor: pointer;
      }


}

.description{
  flex: 0  0 100%;
  display: flex;
  align-items: center;
  gap: 16px;

  p{
    margin: 0;
  }

  img{
    margin-top: 2rem;
    
  }

}

.icon:hover{
  transform: translateY(-3px);
}

.icon:active{
  transform: translateY(-1px);
}

.btn{
  background-color: #50FF10;
  width:38px;
  height: 38px;
  border-radius: 100px;
  border: none;
  cursor: pointer;

}

.btn span{
display: block;
width: 16px;
height: 3px;
margin: 5px ;
background: #ffffff;

}